.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: -10px;
  border: 1px solid #e8e7e7;
  box-shadow: 0px 0px 10px rgba(188, 185, 185);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: white;
  font-size: 16px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
